/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.gwt-PasswortUnbekannt {
	color: red;
	font-size: 10px;
	font-style: normal;
	text-align: center;
}

.gwt-UnternehmenLabel {
	color: #CC5200;
	font-size: 14px;
	font-family: Calibri;
	font-weight: bolder;
	text-decoration: normal;
}

.gwt-Home-Label {
	color: #CC5200;
	font-size: 14px;
	font-family: Calibri;
	font-weight: bolder;
	text-decoration: underline;
}

.gwt-Label {
	font-size: 12px;
	font-family: Calibri;
	text-decoration: none;
}

.gwt-Box {
	font-family: Calibri;
}

.cellTableHeader {
	height: 25px;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .7);
	color: black;
	padding: 0px;
	font-style: normal;
	font-family: Calibri;
	font-weight: normal;
	vertical-align: middle;
	text-align: left;
	background-color:#e9e9e9;
	background-image: none;
}

.gwt-TabLayoutPanel {
	height: 300px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
	
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
	border-color: #e6e7e8;
	border-style: solid;
	border-width: 3px 2px 2px;
	overflow: hidden;
	padding: 6px;
	background: #FFFFFF;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
	margin-left: 6px;
	padding: 2px 8px 2px 8px;
	cursor: pointer;
	font-family: Calibri;
	font-weight: normal;
	cursor: hand;
	color: black;
	font-size: 1.2em;
	text-align: center;
	background: #BDBDBD;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
	cursor: default;
	background: #B0B0B0;
	font-weight: bold;
	font-size: 1.2em;
	color: black;
}

.gwt-Panel {
	background-color: #f9f9f9;
}

.gwt-Label-Info {
	color: #454545;
	font-size: 14px;
	font-family: Calibri;
	font-weight: normal;
	text-decoration: none;
}

.gwt-Panel-Invest {
	color: #454545;
	border: thin double darkgray;
	font-size: 12px;
	font-family: Calibri;
	text-decoration: none;
}

.gwt-Panel-Invest-Inputlabel {
	font-size: 12px;
	font-family: Calibri;
	font-weight: bold;
}

.gwt-Panel-results {
	color: black;
	font-size: 12px;
	font-family: Calibri;
	text-decoration: none;
}

.gwt-Infolabel {
	color: Red;
	font-size: 12px;
	font-style: normal;
	font-family: Calibri;
}